/*
 * Items marked with a "js" comment are set dynamically with javascript, and generally
 * need to be adjusted depending on device specifics like resolution, pixel ratio, aspect
 * ratio, touch abilities, etc.
 */

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-top: 45px; /*set with js?*/
}
.row {max-width: 100%;}


#navBar {
    position: fixed;
    z-index: 1000;
    top: 0;
}
nav.top-bar {
}

#titlePanel {
    display: block;
    overflow: hidden;
    position: relative;
}

#fiveThousand {
    color: #ddd;
    display: block;
    font-size: 4em;
    font-weight: bold;
    left: 2em;
    position: absolute;
    top: -0.2em;
    transform: rotate(-10deg);
}

[data-orbit] img {
    width: 100%;
}

#voting-system-sidebar .label {
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 3px;
    color: #777777;
    margin-left: 5px;
}
